@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200;300;400;500;600;700;800;900&display=swap");

$fontMontserrat: "Montserrat Alternates", sans-serif;

* {
  font-family: "Montserrat Alternates";
}

h1 {
  font-size: 52px;
}

h2 {
  font-size: 38px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 22px;
}
